.search{
    border-radius: 15px 0 0 15px !important;
    border:0 !important;
}
.search:focus{
    box-shadow:none !important;
    outline:0px !important;
}

.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.matrix-green{
    color: #000000 !important;
}

