<div class="card-header">
  <div class="input-group">
    <input type="text" placeholder="nimi"  [(ngModel)]="personName" class="form-control search">
    <div class="input-group-prepend">
      <span class="input-group-text search_btn" *ngIf="getChat()">
        <a (click)="changeName()" class="matrix-green">Muuda</a></span>
    </div>
  </div>
  <br>
    <form (ngSubmit)="joinChat()">
  <div class="input-group">
    <input type="text" placeholder="ruum"
           [(ngModel)]="chatName" [ngModelOptions]="{standalone: true}"
           class="form-control search">
    <div class="input-group-prepend">
      <span class="input-group-text search_btn">
        <a (click)="joinChat()" class="matrix-green">Liitu</a>
      </span>
    </div>
  </div>
    </form>
</div>