<div class="card-header msg_head">
    <div class="d-flex bd-highlight">
        <div class="user_info">
            <span>{{getChat()?.name}}</span>
            <p>{{getParticipantNumber()}}</p>
        </div>
        <div *ngIf="getChat()?.activePoll" class="video_cam">
            <div style="padding: 5px">
                <div>
                    <span> Kick {{getChat()?.activePoll?.personToKick?.name}} ?  </span> <span
                        style="font-weight: bold;">{{getChat()?.activePoll?.timeToVote}}</span>
                </div>
                <div>
                    <p>
                        <ngb-progressbar [value]="getPositiveVotesSize() / getChat()?.activePoll?.positiveVotesNeeded * 100"
                                         type="info">
                            <b>
                                {{getPositiveVotesSize()}}/{{getChat()?.activePoll?.positiveVotesNeeded}}
                            </b>
                        </ngb-progressbar>
                    </p>

                </div>
                <br>
                <div *ngIf="!isVoted()">
                    <a (click)="vote(true)" href="javascript:void(0)"> Yes</a> <a (click)="vote(false)"
                                                                                  href="javascript:void(0)"> No</a>
                </div>
                <div *ngIf="isVoted()">
                    Hääletatud!
                </div>
            </div>
        </div>
    </div>
    <span id="action_menu_btn"><a (click)="leave()" *ngIf="getChat()" ngbTooltip="Lahku ruumist" placement="bottom">&#10062;</a></span>
    <div class="action_menu">
        <ul>
            <li><i class="fas fa-user-circle"></i> View profile</li>
            <li><i class="fas fa-users"></i> Add to close friends</li>
            <li><i class="fas fa-plus"></i> Add to group</li>
            <li><i class="fas fa-ban"></i> Block</li>
        </ul>
    </div>
</div>