.img_cont_msg{
    height: 40px;
    width: 40px;
}

.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}

.msg_cotainer{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #000000;
    padding: 10px;
    position: relative;
    word-break: break-word;
    min-width: 40px;
}

.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(23, 13, 14, 0.5);
    font-size: 10px;
}

.msg_sender{
    position: absolute;
    left: 10px;
    top: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}