<div class="d-flex justify-content-end mb-4">
    <ng-template #button><span (click)="delete()" class="delete-tooltip">Kustuta</span></ng-template>
    <div #t="ngbTooltip" (click)="t.open()" [ngbTooltip]="button" class="msg_cotainer_send" triggers="click:blur">
        <span style="color: #FFFFFF">{{message?.payload}}</span>
        <span class="msg_time_send">{{parsetoDate(message?.timeStamp)}}</span>
    </div>
    <app-user-msg-image [participant]="message?.sender"></app-user-msg-image>
</div>