.contacts{
    list-style: none;
    padding: 0;
}

.active{
    background-color: rgba(0,0,0,0.3);
}

.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}

.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #000000;

}

.online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid #000000;
}

.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.offline{
    background-color: #c23616 !important;
}

.user_info span{
    font-size: 20px;
    color: white;
}
.user_info p{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}

.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

