<ul class="contacts">
    <li *ngIf="getParticipant()?.id" class="active">
        <a href="javascript:void(0)">
            <app-contact [contact]="getParticipant()"></app-contact>
        </a>
    </li>
</ul>
<ul *ngFor="let person of getChat()?.participants" class="contacts">
    <li *ngIf="person?.id != getParticipant()?.id">
        <div ngbDropdown>
            <a href="javascript:void(0)" id="dropdown" ngbDropdownToggle>
                <app-contact [contact]="person"></app-contact>
            </a>
            <div aria-labelledby="dropdown" ngbDropdownMenu>
                <a (click)="callVoteKick(person)" ngbDropdownItem>Kick</a>
            </div>
        </div>
    </li>
</ul>
