  <div>
    <br>
        <h5 class="text-uppercase">Minu profiilid</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/knaeris" target="_blank">Github</a>
          </li>
          <li>
            <a href="https://bitbucket.org/knaeris" target="_blank">Bitbucket</a>
          </li>
          <li>
            <a href="https://www.facebook.com/kristo.naeris" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/kristo-naeris-165753178/" target="_blank">LinkedIn</a>
          </li>
        </ul>

        <h5 class="text-uppercase">Kontakt</h5>

        <ul class="list-unstyled">
          <li>
            <a href="mailto: kristo99@hot.ee">Saada e-email</a>
          </li>
        </ul>
        <a href="https://www.youracclaim.com/badges/1bd8d869-6b7a-457b-8a2d-425d40badade/public_url" target="_blank">
      <img src="https://images.youracclaim.com/size/340x340/images/7b8d90af-f937-4068-9179-01cdc6700c74/5274_badge_database_admininstrator_600x600_Certified-Associate-JAVA-SE8-PROGRAMMER.png"
            alt="oracle java sertificate">
        </a>
  </div>