  <div>
    <br>
        <h5 class="text-uppercase">Minu profiilid</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/knaeris" target="_blank">Github</a>
          </li>
          <li>
            <a href="https://bitbucket.org/knaeris" target="_blank">Bitbucket</a>
          </li>
          <li>
            <a href="https://www.facebook.com/kristo.naeris" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/kristo-naeris-165753178/" target="_blank">LinkedIn</a>
          </li>
        </ul>

        <h5 class="text-uppercase">Kontakt</h5>

        <ul class="list-unstyled">
          <li>
            <a href="mailto: kristo99@hot.ee">Saada e-email</a>
          </li>
        </ul>
  </div>