.card-footer{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.attach_btn{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.type_msg{
    border:0 !important;
    height: 60px !important;
    overflow-y: auto;
}

.send_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: #000000 !important;
    cursor: pointer;
}

.right-arrow i {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.popover-background {
    background: white !important;
    border-color: #000000;
}

.bs-popover-auto[x-placement^=right]>.arrow::after, .bs-popover-right>.arrow::after{
    border-right-color: #000000;
}